export JAVA_HOME="/usr/lib/jvm/jdk1.7.0_10/"
export MAVEN_HOME="/opt/maven-3.0.4/"
export MAVEN_OPTS="-Xmx2G -Xms2G -XX:PermSize=128M -XX:MaxPermSize=256m"
export JAVA_OPTS="-XX:MaxPermSize=512m"
export ANT_HOME="/opt/apache-ant-1.8.4/"
export ANT_OPTS=-Xmx768m
export M2_HOME="/opt/maven-3.0.4/"
export PLAY_HOME="/home/mmanrique/development/play-2.1.1-RC1"
export SCALA_HOME="/opt/scala-2.10.3"
export PHANTOM_HOME="/home/mmanrique/development/phantomjs-1.9.0-linux-x86_64"
export CASPER_HOME="/home/mmanrique/casperjs"
export ANDROID_HOME="/home/mmanrique/development/android-sdk-linux"

export PATH=$PATH:$JAVA_HOME/bin:$MAVEN_HOME/bin:$ANT_HOME/bin:$PLAY_HOME:$PHANTOM_HOME/bin:CASPER_HOME/bin:$ANDROID_HOME
