#I always have problems finding file
findFile(){
	find ./ -name "$1"
}
alias fn=findFile

historygrep(){
	history | grep "$1"
}

alias his= historygrep 
#opens a folder in mint so, why not?
alias o="open ."

alias dependencies="mvn clean install -Pdependencies -DskipTests"


gitFindCommits(){
	git log --all --grep="$1"
}
alias gfn=gitFindCommits


connectRemote(){
	psql -h uatdb"$1" -d "$2" -U readonly
}

alias remote=connectRemote